<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/styles.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/evil-icons/1.9.0/evil-icons.min.css">
<script src="https://cdn.jsdelivr.net/evil-icons/1.9.0/evil-icons.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/slothmo.js"></script>
</head>
<body>
<div class="container-bd gradient-1 center">
  <h1 class="center-txt color-duo">BRADYPUS VARIEGATUS</h1>
  <div class="row color-pri">
    <div class="block-portrait center-txt">
      <img class="block-img" src="img/sloth.jpg">
      <h2>@Sloth87</h2>
      <a href="#">
        <div class="button-social-icon" data-icon="ei-sc-facebook"></div>
      </a>
      <a href="#">
        <div class="button-social-icon" data-icon="ei-sc-twitter"></div>
      </a>
      <a href="#">
        <div class="button-social-icon" data-icon="ei-sc-instagram"></div>
      </a>
      <a href="#">
        <div class="button-social-icon" data-icon="ei-sc-linkedin"></div>
      </a>
    </div>
    <div class="block color-tri">
      <h3 class="center-txt">TODO LIST</h3>
      <ul>
        <li>Sleep</li>
        <li>Eat something</li>
        <li>Sleep</li>
        <li>Moar Sleep</li>
      </ul>
    </div>
    <div class="block color-tri">
      <h3 class="center-txt">TRENDING QUOTES</h3>
      <ul>
        <li>Just do it tomorrow!</li>
        <li>Whatever</li>
        <li>zzzzZZZz</li>
        <li>My mum says im handsome</li>
      </ul>
    </div>
  </div>

  <div class="black pad-25">
    <p>Sloths are mammals classified in the families Megalonychidae (two-toed sloths) and Bradypodidae (three-toed sloths), including six extant species. They are named after the capital sin of sloth because they seem slow and lazy at first glance; however, their usual idleness is due to metabolic adaptations for conserving energy. Aside from their surprising speed during emergency flights from predators, other notable traits of sloths include their strong body and their ability to host symbiotic algae on their furs.</p>
    <p>They are classified in the order Pilosa because they are related to anteaters, which sport a similar set of specialized claws. Extinct sloth species include many megafaunal ground sloths, some of which attained the size of elephants, as well as a few species of marine sloths. Extant sloths are medium-sized arboreal (tree-dwelling) residents of the jungles of Central and South America.</p>
    <p>Sloths make good habitats for other organisms, and a single sloth may be home to moths, beetles, cockroaches, fungi, ciliates, and algae.[2]</p>
  </div>
  <div class="center">
    <div class="row color-pri pad-15">
      <div class="block-img gallery"><img src="img/sloth-2.jpg"></div>
      <div class="block-img gallery"><img src="img/sloth-3.jpg"></div>
      <div class="block-img gallery"><img src="img/sloth-4.jpg"></div>
      <div class="block-img gallery"><img src="img/sloth.jpg"></div>
      <div class="block-img gallery"><img src="img/sloth-5.jpg"></div>
      <h3 class="color-duo pad-15">Bitch, I'm fabulous!</h3>
    </div>
  </div>
  <div class="pad-15">
    <p>Sloths are mammals classified in the families Megalonychidae (two-toed sloths) and Bradypodidae (three-toed sloths), including six extant species. They are named after the capital sin of sloth because they seem slow and lazy at first glance; however, their usual idleness is due to metabolic adaptations for conserving energy. Aside from their surprising speed during emergency flights from predators, other notable traits of sloths include their strong body and their ability to host symbiotic algae on their furs.</p>
    <p>They are classified in the order Pilosa because they are related to anteaters, which sport a similar set of specialized claws. Extinct sloth species include many megafaunal ground sloths, some of which attained the size of elephants, as well as a few species of marine sloths. Extant sloths are medium-sized arboreal (tree-dwelling) residents of the jungles of Central and South America.</p>
    <p>Sloths make good habitats for other organisms, and a single sloth may be home to moths, beetles, cockroaches, fungi, ciliates, and algae.[2]</p>
  </div>
  <figure>
    <img src="img/sloth-para.jpg">
    <figcaption class="black center-txt pad-10">Fig1. - A fabulous sloth.</figcaption>
  </figure>

  <div class="pad-15">
    <p>Sloths are mammals classified in the families Megalonychidae (two-toed sloths) and Bradypodidae (three-toed sloths), including six extant species. They are named after the capital sin of sloth because they seem slow and lazy at first glance; however, their usual idleness is due to metabolic adaptations for conserving energy. Aside from their surprising speed during emergency flights from predators, other notable traits of sloths include their strong body and their ability to host symbiotic algae on their furs.</p>
    <p>They are classified in the order Pilosa because they are related to anteaters, which sport a similar set of specialized claws. Extinct sloth species include many megafaunal ground sloths, some of which attained the size of elephants, as well as a few species of marine sloths. Extant sloths are medium-sized arboreal (tree-dwelling) residents of the jungles of Central and South America.</p>
    <p>Sloths make good habitats for other organisms, and a single sloth may be home to moths, beetles, cockroaches, fungi, ciliates, and algae.[2]</p>
  </div>


</div>





</body>
</html>
