body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

*:focus {
outline: none;
}

blockquote {
  margin: 0;
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

h1 {
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
