h1 {
  font-size: 40px;
  padding: 10px;
  color: #F57F17;
  text-shadow: 2px 2px #795548;
}

h2 {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #795548;
}

h3 {
  font-size: 20px;
  text-shadow: 2px 2px #795548;
  color: white;
}

body {
  font-family: 'Arial', sans-serif;
}
