// VARIABLES

// Color Palette
//$color-pri : #7E57C2;
//$color-sec : #9FA8DA;
//$color-acc : #FDD835;
$color-pri : #7E57C2;
$color-duo : #FFEB3B;
$color-tri : #0D47A1;
$color-acc : #F50057;
$width: 200px;
$shape: '';
$container: 360 480 600 960 1180;
$padding: 5 10 15 20 25 50;
$margin: 5 10 15 20 25 50;

$mobile: 576px;
$tablet: 768px;
$tablet-h: 992px;
$desktop: 1200px;

$mobile-max: 575px;
$tablet-max: 767px;
$tablet-h-max: 991px;
$desktop-max: 1199px;

$sm-width: 540px;
$md-width: 720px;
$lg-width: 960px;
$hd-width: 1140px;
